@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    --f-sans-400: 'IBM Plex Sans', sans-serif;
    --f-sans-600: 'IBM Plex Sans', sans-serif;
    --f-mono-400: 'IBM Plex Mono', monospace;
}
